<server description="Intro REST Guide Liberty server">
  <!-- tag::featureManager[] -->
  <featureManager>
      <feature>jaxrs-2.1</feature>
      <feature>mpOpenAPI-1.1</feature>
      <feature>cdi-2.0</feature>
      <feature>mpMetrics-2.2</feature>
      <feature>monitor-1.0</feature>
      <feature>mpRestClient-1.3</feature>
  </featureManager>
  <!-- end::featureManager[] -->
	
  <variable name="default.http.port" defaultValue="9080"/>
  <variable name="default.https.port" defaultValue="9443"/>
  <variable name="app.context.root" defaultValue="ol-blockchain"/>
  
  <!-- tag::httpEndpoint[] -->
  <!--  <httpEndpoint httpPort="${default.http.port}" httpsPort="${default.https.port}"
                id="defaultHttpEndpoint" host="*" /> -->
  <!-- end::httpEndpoint[] -->
  
  <quickStartSecurity userName="admin" userPassword="adminpwd"/>
  <keyStore id="defaultKeyStore" location="key.jks" type="jks" password="mpKeystore"/>
  
  <!-- tag::webApplication[] -->
  <!-- <webApplication location="guide-rest-intro.war" contextRoot="${app.context.root}"/> -->
  <webApplication location="ol-blockchain.war" contextRoot="${app.context.root}"/>
  <!-- end::webApplication[] -->
</server>
